@import "../../index.scss";

#about-section {
    position: relative;
    max-width: 1250px;
    width: 100%;

    margin: 5vh auto;
    padding: 8rem 0 0 0;

    background-color: var(--bg);

    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;

    z-index: 998;

    .head-container {
        margin: 0 0 5rem 0;
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;

        span {
            margin-bottom: 1rem;

            padding: 0.25rem 1rem;

            font-size: .7rem;
            font-weight: 800;

            letter-spacing: 1px;
            text-transform: uppercase;
            line-height: 1.225rem;

            border: 1px solid var(--border);
            border-radius: 2rem;

            color: var(--accent);

            display: flex;
            align-items: center;
            gap: 0.5rem;

            text-align: center;
        }

        h1 {
            margin-bottom: 1rem;

            font-size: 4rem;
            font-weight: 500;
            line-height: 1.1;

            text-align: center;

            color: var(--p);
        }

        p {
            margin-bottom: 2rem;

            font-size: 1.25rem;
            font-weight: 300;
            line-height: 1.75rem;

            color: var(--p);

        }
    }

    .mid-container {
        margin: 5rem 0;
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;

        span {
            margin-bottom: 2rem;

            font-size: 1rem;
            font-weight: 800;

            letter-spacing: 1px;
            text-transform: uppercase;
            line-height: 1.225rem;

            color: var(--p);

            display: flex;
            align-items: center;
            gap: 0.5rem;

            text-align: center;
        }

        p {
            margin-bottom: 2rem;

            font-size: 2rem;
            font-weight: 500;
            line-height: 1.4;

            color: var(--p);

        }
    }

}