@import '../../../index.scss';

#home-faqs {
    padding: 50px 0 !important;
    background-color: var(--bg);
    margin: 0 auto !important;
    border-radius: .5rem .5rem 0 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    .text-content {
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;

        span {
            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: .875rem;
            font-weight: 700;
            line-height: 1.225rem;

            color: var(--accent);

            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        h1 {
            letter-spacing: -1.6px;
            font-size: 3rem;
            font-weight: 500;
            color: var(--p);

            margin-bottom: 2rem;
        }
    }

    .faqs {
        position: relative;
        width: 100%;

        display: flex;
        align-items: center;
        flex-direction: column;

        gap: 1.5rem;

        .faq-card {
            position: relative;
            max-width: 1000px;
            width: 100%;

            padding: 1rem 0;

            cursor: pointer;
            user-select: none;

            .faq-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h3 {
                    font-size: 1.2rem;
                    font-weight: 700;
                    color: var(--p);
                }

                svg {
                    font-size: 20px;
                    color: var(--accent);
                }
            }

            .faq-content {
                p {
                    margin-top: 1rem;
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: var(--p);
                    opacity: .8;
                    line-height: 1.5;
                }
            }
        }
    }
}

@media (max-width:1400px) {
    #home-faqs {
        padding: 20px !important;
    }
}

@media (max-width:809px) {
    #home-faqs {
        padding: 15px !important;

        span {
            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: .875rem;
            font-weight: 700;
            line-height: 1.225rem;

            color: var(--accent);

            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        h1 {
            max-width: 100% !important;
            font-size: 2rem !important;
            font-weight: 500;
            color: var(--p);

            margin-bottom: 2rem;
        }

        .faq-card {
            position: relative;
            max-width: 1000px;
            width: 100%;

            padding: 1.5rem 0 !important;

            cursor: pointer;
            user-select: none;

            .faq-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h3 {
                    font-size: 1.1rem !important;
                    font-weight: 600 !important;
                    color: var(--p);
                }

                svg {
                    font-size: 20px;
                    color: var(--accent);
                }
            }

            .faq-content {
                p {
                    margin-top: 1rem;
                    font-size: 1rem !important;
                    font-weight: 400;
                    color: var(--p);
                    line-height: 1.5;
                }
            }
        }
    }
}