#site-links-step {
    position: relative;
    width: 100%;
    height: fit-content;

    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;

    label {
        color: var(--p);
        opacity: 0.8;
        font-size: 20px;
        font-weight: 600;
        transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

        display: flex;
        align-items: center;
        gap: .5rem;

        a {
            color: var(--accent);
            text-decoration: underline;
            opacity: 0.8;
            font-size: 20px;
            font-weight: 600;
            transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }

        &::before {
            content: '✔';
            display: inline-block;
            margin-right: 1rem;

            width: 14px;
            height: 14px;

            border-radius: .30rem;
            border: 1px solid var(--p);

            font-size: 10px;
            text-align: center;

            color: transparent;

            transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }
    }

    input[type='checkbox'] {
        display: none;

        &:checked+label {
            opacity: 1;

            &::before {
                color: var(--accent);
                border: 1px solid var(--accent);
            }
        }
    }
}