#site-links-step {
    position: relative;
    width: 100%;
    max-width: 650px;
    height: 700px;
    display: flex;
    flex-direction: column;

    .input-container {
        position: relative;
        width: 100%;

        display: flex;
        align-items: start;
        flex-direction: column;

        span {
            position: relative;
            font-size: 18px;
            font-weight: 500;
            color: var(--p);
            pointer-events: none;
            margin-left: 5px;
            color: #f00;
        }

        label {
            position: relative;
            font-size: 18px;
            font-weight: 500;
            margin: 1rem 0;
            color: var(--p);
            pointer-events: none;
            transition: all 0.3s ease;
        }

        input {
            width: 100%;
            height: 50px;

            padding-left: 1.2rem;

            outline: none;
            border: 1px solid var(--border);
            border-radius: .5rem;
            background-color: transparent;

            font-weight: 500;
            font-size: 18px;

            line-height: 1.4;
            letter-spacing: -0.02px;
            color: var(--p);

            transition: all 0.3s ease;

            &::placeholder {
                opacity: 0.5;
                color: var(--p);
            }

            &:focus {
                border-color: var(--accent-color);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }

            &:hover {
                border-color: var(--hover-color);
            }
        }
    }
}