@import "../../../index.scss";

.site-card {
    position: relative;

    width: 100%;
    height: 500px;
    padding: 0 0 1rem 0;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 325px;
        height: 200px;

        border-radius: .5rem;
        border: 1px solid var(--border);

        margin-bottom: 1rem;

        z-index: 998;

    }

    .text-card {
        transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        z-index: 999;

        .several-content {
            width: fit-content;
            display: flex;
            align-items: center;
            gap: 0.7rem;
            margin-bottom: 1rem;

            p {
                height: fit-content !important;
                font-size: 10px;
                font-weight: 700;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: var(--p);
                margin: 0;
            }

            span {

                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                margin: 0;

                svg {
                    width: 22px;
                    height: 22px;
                    border-radius: 100%;
                    color: #fff;
                    padding: 0.3rem;
                }
            }
        }

        h1 {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 1rem;
            color: var(--p);
        }

        p {
            height: 75px;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 1rem;
            color: var(--p);
        }

        span {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 1rem;
            color: var(--p);
        }
    }

    .view {
        position: absolute;

        width: 50px;
        height: 50px;

        top: 45px;
        left: 15px;

        border-radius: 100%;
        border: 1px solid var(--border);
        background-color: var(--fixed-c);

        display: flex;
        align-items: center;
        justify-content: center;

        opacity: 0;
        transition: all .3s cubic-bezier(1, 0, 0, 1);
        z-index: 999;

        svg {
            font-size: 24px;
            color: var(--p-i);
        }
    }

    &:hover {
        img {
            filter: brightness(95%);
        }

        .view {
            opacity: 1;
        }
    }
}

@media (max-width: 809px) {
    .site-card {
        width: 100%;

        img {
            height: 250px;
        }

        .text-card {
            h1 {
                font-size: 1.5rem;
            }

            p {
                font-size: 0.875rem;
            }
        }
    }
}

@media (max-width: 480px) {
    .site-card {
        width: 100%;

        img {
            height: 200px;
        }

        .text-card {
            h1 {
                font-size: 1.25rem;
            }

            p {
                font-size: 0.75rem;
            }
        }
    }
}


.placeholder {
    width: 100%;
    height: 300px;
    background: var(--border-2);
}