#change-theme {
    width: fit-content;
    height: 100%;

    margin-right: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
    z-index: 999;

    svg {
        font-size: 1.3rem;
    }
}