@import '../../../index.scss';

#home-features {
    position: relative;
    max-width: 1400px;
    width: 100%;
    height: fit-content;

    margin: 5rem auto;

    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;

    span {
        font-size: 12px;
        font-weight: 800;

        letter-spacing: 2px;
        text-transform: uppercase;

        color: var(--accent);

        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    h1 {
        letter-spacing: -1px;
        font-size: 42px;
        font-weight: 700;
        color: var(--p);

        margin-bottom: 2rem;
    }

    .features-content {
        position: relative;
        width: 100%;

        display: flex;
        align-items: start;
        justify-content: start;
        gap: 2rem;

        .card {
            position: relative;
            width: 350px;
            height: fit-content;


            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;

            transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            cursor: pointer;

            .icon-card {
                margin-bottom: 1rem;

                svg {
                    font-size: 42px;
                    color: var(--p);
                }

            }

            h3 {
                position: relative;
                height: 75px;
                font-size: 24px;
                font-weight: 600;
                color: var(--p);
            }

            p {
                max-width: 90%;
                height: 80px;
                font-size: 17px;
                font-weight: 500;
                line-height: 1.5;
                opacity: .9;
                color: var(--p);
                text-align: start;
            }
        }
    }
}



@media (max-width:1400px) {
    #home-features {
        padding: 20px;

        .features-content {
            .card {

                .icon-card {
                    width: 65px;
                    height: 65px;

                }


                h3 {
                    font-size: 24px;
                }

                p {
                    font-size: 16px;
                }

            }

        }
    }
}

@media (max-width:809px) {
    #home-features {

        padding: 15px;

        flex-direction: column;
        gap: 2rem;

        .features-content {
            gap: 1rem;

            .card {
                width: 100%;
                flex-direction: column;
                gap: 1rem;

                .icon-card {
                    width: 75px;
                    height: 75px;
                }

                h3 {
                    height: fit-content;
                }

                p {
                    height: fit-content;
                }
            }
        }
    }
}