@import '../../../index.scss';

#home-features {
    position: relative;
    max-width: 1450px;
    width: 100%;
    height: fit-content;

    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

    span {
        font-size: 10px;
        font-weight: 800;
        padding: .4rem 1.5rem;

        border: 1px solid var(--border);
        border-radius: 2rem;

        letter-spacing: 2px;
        text-transform: uppercase;

        margin-bottom: 1rem;

        display: flex;
        align-items: center;
        gap: 0.5rem;

        svg {
            font-size: 14px;
        }
    }

    .features-content {
        position: relative;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.5rem;

        .card {
            position: relative;
            width: 700px;
            height: fit-content;
            padding: 2rem;

            background-color: var(--p-2);
            border: 1px solid var(--border);
            border-radius: 1.5rem;

            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;

            transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            cursor: pointer;

            .icon-card {
                width: 50px;
                height: 50px;

                border-radius: 100%;
                border: 1px solid var(--border);

                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 1.5rem;

                svg {
                    font-size: 26px;
                    color: var(--p);
                }

            }

            &:nth-child(4) {
                .icon-card {
                    svg {
                        color: #27cc3d;
                    }
                }
            }

            h3 {
                position: relative;
                height: 50px;
                font-size: 24px;
                font-weight: 700;
                color: var(--p);
                letter-spacing: -1px;
            }

            p {
                height: 80px;
                font-size: 18px;
                font-weight: 400;
                color: var(--p);
                line-height: 1.5;
                margin: 0;
                text-align: start;
            }

            button {
                font-size: 12px;
                font-weight: 900;

                letter-spacing: 2px;
                color: var(--p);

                display: flex;
                align-items: center;
                gap: .3rem;

                cursor: pointer;
                transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

                svg {
                    font-size: 24px;
                    transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                }
            }

            &:hover {
                background-color: var(--bg-2);

                .button-icon {
                    transform: translateX(10px);
                }
            }
        }

    }
}

@media (max-width:1400px) {
    #home-features {
        padding: 20px;

        .features-content {
            .card {

                .icon-card {
                    width: 65px;
                    height: 65px;

                }


                h3 {
                    font-size: 24px;
                }

                p {
                    font-size: 16px;
                }

            }

        }
    }
}

@media (max-width:809px) {
    #home-features {

        padding: 15px;

        flex-direction: column;
        gap: 2rem;

        .features-content {
            gap: 1rem;

            .card {
                width: 100%;
                flex-direction: column;
                gap: 1rem;

                .icon-card {
                    width: 75px;
                    height: 75px;
                }

                h3 {
                    height: fit-content;
                }

                p {
                    height: fit-content;
                }
            }
        }
    }
}