#language-selector {
    position: relative;
    padding: .2rem .8rem;

    border-radius: 2rem;

    display: inline-block;
    z-index: 9999999999999;

    .dropdown-button {
        background: none;
        border: none;

        color: var(--p);
        font-size: .8rem;
        font-weight: 500;
        line-height: 1.5rem;

        display: flex;
        align-items: center;
        gap: .5rem;
        cursor: pointer;

        svg {
            color: var(--p);
        }
    }

    .arrow-icon {
        font-size: 1rem;
        transition: transform 0.2s ease;
    }

    .arrow-icon.open {
        transform: rotate(180deg);
    }

    .dropdown-menu {
        position: absolute;
        width: 150px;
        height: fit-content;

        bottom: 40px;
        left: -5px;

        padding: .3rem;

        background: var(--bg);
        border: 1px solid var(--border);
        border-radius: 1rem;

        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        list-style: none;

        li {
            padding: 10px;
            text-transform: capitalize;

            font-weight: 500;
            font-size: .8rem;

            border-radius: .5rem;
            color: var(--p);

            cursor: pointer;
            text-align: start;

            &:hover {
                background-color: var(--border);
            }
        }
    }
}