@import '../../index.scss';

#home-hero {
    position: relative;
    width: 100%;
    height: fit-content;
    margin: 10rem 0 3rem 0;

    padding: 0 100px !important;

    background-color: var(--bg);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        font-size: 130px;
        font-weight: 500;
        letter-spacing: -3px;
        line-height: 95%;

        color: var(--p);
        text-align: center;
        margin-bottom: 3rem;
    }

    p {
        max-width: 65%;

        font-size: 22px;
        font-weight: 400;
        letter-spacing: 0px;
        line-height: 150%;
        text-align: center;
        color: var(--p);
        opacity: .8;
        text-wrap: pretty;

        margin-bottom: 3rem;
    }

    .home-button {
        display: flex;
        align-items: center;
        gap: 3rem;

        .home-button-content {
            width: fit-content;
            height: 50px;
            padding: 0 .5rem 0 1.2rem;
            outline: none;

            border: 1px solid var(--p);
            border-radius: 2rem;

            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            letter-spacing: -.25px;
            line-height: 120%;

            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            cursor: pointer;

            transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }

        .home-button-content {
            background-color: var(--p);
            color: var(--p-2);
        }


        .ball-button {
            width: 30px;
            height: 30px;
            padding: 0.5rem;
            background-color: var(--p-2);
            border-radius: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                color: var(--p);
                font-size: 24px;
            }
        }
    }


    .right-container {
        position: relative;
        width: 100%;

        padding: 1rem;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 75%;
            background-color: var(--bg-3);
            border-radius: 0.5rem;
        }
    }
}

#home-sites {
    position: relative;
    width: 100%;
    height: 100%;

    background-color: var(--bg-2);

    padding: 100px !important;
    border-radius: 5rem 5rem 0 0;
    box-shadow: 0 4px 98px rgba(0, 0, 0, 0.1);

    .site-container {
        position: relative;
        width: 100%;
        height: 100%;

        display: flex;
        align-items: start;
        justify-content: start;
        gap: 3rem;

        overflow: hidden;
        transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

        &:hover {
            h1 {
                text-decoration: underline;
            }

        }

        .site-left-content {
            position: relative;
            flex: 1.1 0 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                position: relative;
                width: 100%;
                height: 350px;
                border-radius: 1rem;

                background-color: var(--bg-3);
                border: 1px solid var(--border);

                transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }

            .featured {
                position: absolute;
                width: fit-content;
                height: 30px;
                top: 25px;
                left: 25px;
                padding: 0 1.4rem 0 1rem;
                margin-bottom: 1.5rem;

                background: linear-gradient(90deg, rgb(87, 87, 87) 0%, rgb(48, 48, 48) 51%, rgb(85, 85, 85) 100%);
                border-radius: 0.5rem;

                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: .6rem;

                svg {
                    font-size: 20px;
                    color: var(--fixed-c);
                }

                p {
                    font-size: 14px;
                    font-weight: 900;
                    letter-spacing: 3px;
                    color: var(--fixed-c);
                }
            }
        }

        .site-right-content {
            position: relative;
            width: 100%;
            flex: 1 0 0;

            margin-top: 1rem;

            display: flex;
            align-items: start;
            flex-direction: column;
            gap: 1.5rem;



            span {
                color: var(--p);

                font-size: 14px;
                font-weight: 900;

                text-transform: uppercase;
                letter-spacing: 1px;

                margin: 0 !important;
            }

            h1 {
                font-size: 64px;
                font-weight: 400;
                line-height: 1.2;

                letter-spacing: -3px;

                color: var(--p);
                word-wrap: break-word !important;
            }

            p {
                font-size: 20px;
                font-weight: 500;
                color: var(--p);
                word-wrap: break-word !important;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;

                display: -webkit-box;
            }

        }
    }
}

#home-features {
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 100px 0 !important;
    background-color: var(--bg);
    border-bottom: 1px solid var(--border);

    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

    h1,
    span {
        font-size: 80px;
        font-style: normal;
        font-weight: 600;

        letter-spacing: -3px;
        line-height: 100%;

        text-decoration: none;
        margin-bottom: 3rem;
    }

    span {
        background: #959595;
        background: linear-gradient(to right, #959595 0%, #7e7e7e 54%, #4b4b4b 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .features-content {
        position: relative;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: start;
        gap: 1rem;

        .card {
            position: relative;
            width: 100%;
            max-width: 450px;
            height: 300px;
            padding: 2rem;
            border-radius: 0.5rem;
            background-color: var(--bg);
            border: 1px solid var(--border);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;

            &:hover {
                transform: translateY(-10px); // Efeito de elevação ao passar o mouse
                box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); // Intensifica a sombra ao passar o mouse
            }

            .icon-card {
                width: 80px; // Reduz o tamanho do ícone para uma aparência mais compacta
                height: 80px;
                background-color: var(--p);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 1.5rem; // Adiciona margem inferior ao ícone

                svg {
                    font-size: 32px;
                    color: var(--p-2);
                }
            }

            h3 {
                font-size: 20px;
                font-weight: 700;
                color: var(--p);
                margin-bottom: 1rem;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                color: var(--p);
                line-height: 1.5;
                margin: 0;
                padding: 0 1rem;
            }
        }
    }
}

#home-benefits {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 150px 0;
    background: var(--bg);

    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;


    .benefits-content {
        position: relative;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;

        .benefit-card {
            position: sticky;
            top: 50px;
            width: 100%;
            height: 500px;
            padding: 2rem;

            background: var(--p);
            border-radius: 2rem;

            box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
            z-index: 1;

            h1,
            span {
                font-size: 80px;
                font-weight: 600;
                color: var(--p-2);

                letter-spacing: -3px;
                line-height: 100%;

                text-decoration: none;
                margin-bottom: 3rem;
            }

            span {
                background: #959595;
                background: linear-gradient(to right, #959595 0%, #7e7e7e 54%, #4b4b4b 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            p {
                font-size: 22px;
                font-weight: 400;
                letter-spacing: 0px;
                line-height: 150%;
                color: var(--p-2);
                opacity: .8;

                margin-bottom: 3rem;
            }
        }
    }
}

#home-testimonials {
    width: 100%;
    height: 100%;

    padding: 100px 0 !important;


    h1,
    span {
        font-size: 80px;
        font-weight: 600;
        color: var(--p);

        letter-spacing: -3px;
        line-height: 100%;

        text-decoration: none;
        margin-bottom: 3rem;
    }

    span {
        background: #959595;
        background: linear-gradient(to right, #959595 0%, #7e7e7e 54%, #4b4b4b 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .testimonials-slides {
        .testimonial-card {
            width: 325px;
            height: 175px;
            padding: 1rem;
            background: var(--bg-2);
            border: 1px solid var(--border);
            border-radius: 0.5rem;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;
            gap: 1rem;

            .top-testimonial-card {
                width: 100%;

                display: flex;
                align-items: center;
                gap: 0.5rem;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                }

                h3 {
                    font-size: 14px;
                    font-weight: 600;
                    letter-spacing: 0px;
                    margin: 0;
                }

                span {
                    font-weight: 400;
                    font-size: 16px;


                    line-height: 1.2em;
                    text-align: start;
                    -webkit-text-stroke-width: initial;
                    -webkit-text-stroke-color: initial;
                    font-feature-settings: initial;
                }

                p {
                    font-size: 14px;
                    font-weight: 600;
                    letter-spacing: 0px;
                    margin: 0;
                }

            }

            p {
                text-align: start;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0px;
                line-height: 150%;
                text-decoration: none;
                text-transform: none;
            }

            h3 {
                color: var(--p);
                font-weight: 600;
            }

        }
    }
}

#home-faqs {
    position: relative;
    width: 100%;
    height: fit-content;
    margin: 5rem 0;

    padding: 100px 0;

    background-color: var(--bg);

    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 5rem;

    .left-content {
        position: relative;
        width: 100%;
        height: 100%;
        top: 50px;
        flex: 2 0 0;
        position: sticky;


        border-radius: 0.5rem;

        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;

        h2,
        span {
            font-size: 80px;
            font-weight: 600;
            color: var(--p);

            letter-spacing: -3px;
            line-height: 100%;

            text-decoration: none;
            margin-bottom: 3rem;
        }

        span {
            background: #959595;
            background: linear-gradient(to right, #959595 0%, #7e7e7e 54%, #4b4b4b 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    }

    .right-content {
        position: relative;
        width: 100%;
        height: 100%;

        flex: 1.5 0 0;

        border-radius: 0.5rem;

        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;

        p {
            font-size: 22px;
            font-weight: 500;
            letter-spacing: 0px;
            line-height: 150%;
            color: var(--p);
            opacity: .8;

            margin-bottom: 3rem;
        }

        h3 {
            font-size: 28px;
            font-weight: 600;
            letter-spacing: -1px;

            color: var(--p);
            text-align: start;
        }

        .about-button {
            display: flex;
            align-items: center;
            gap: 3rem;

            .about-button-content {
                width: fit-content;
                height: 50px;
                padding: 0 .5rem 0 1.2rem;
                margin: 0 0 3rem 0;
                outline: none;

                border: 1px solid var(--p);
                border-radius: 2rem;

                font-size: 16px;
                font-weight: 600;

                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
                cursor: pointer;

                transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            }

            .about-button-content {
                background-color: var(--p);
                color: var(--p-2);
            }


            .ball-button {
                width: 30px;
                height: 30px;
                padding: 0.5rem;
                background-color: var(--p-2);
                border-radius: 100%;

                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    color: var(--p);
                    font-size: 24px;
                }
            }
        }
    }

    span {
        font-weight: 700;
    }

}

@media (max-width: 809px) {
    #home-hero {
        margin: 10rem 0;
        padding: 15px !important;

        h1 {
            font-size: 62px;
            margin-bottom: 1rem;
        }

        p {
            max-width: 100%;
            font-size: 18px;
        }

        img {
            width: 80px;
            height: 42px;
        }
    }

    #home-sites {
        padding: 15px !important;

        border-radius: 2rem 2rem 0 0;

        .site-container {
            flex-direction: column;
            gap: 1rem;
            margin-bottom: 1rem;

            .site-left-content {
                img {

                    width: 100%;
                    height: 250px;
                }
            }

            .site-right-content {
                span {
                    font-size: 14px;
                }

                h1 {
                    font-size: 52px;
                }

                p {
                    font-size: 18px;
                }

            }
        }
    }

    #home-features {
        margin: 5rem 0;
        padding: 15px !important;

        flex-direction: column;

        .features-content {

            flex-direction: column;
            gap: 2rem;

        }
    }

    #home-faqs {
        margin: 5rem 0;
        padding: 15px !important;

        flex-direction: column;

    }
}

@media (max-width: 809px) {
    #home-features {
        padding: 30px 20px !important;

        h1 {
            font-size: 36px;
            margin-bottom: 2rem;
        }

        .features-content {
            flex-direction: column;
            gap: 1.5rem;
        }

        .card {
            max-width: 100%;
            padding: 1.5rem;
        }
    }
}