@import "../../index.scss";

.slide-in {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--p-2);


    transform-origin: bottom;
    z-index: 999;
    user-select: none;

}

.slide-out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--p-2);

    display: flex;
    align-items: center;
    justify-content: center;


    transform-origin: top;
    z-index: 999;
    user-select: none;

    .quimplo-logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .quimplo-logo {
        font-size: 3rem;
        font-weight: 600;
        letter-spacing: -1.6px;

        color: var(--p);

        display: flex;
        align-items: center;
        gap: 0.1rem;


        z-index: 999;

        svg {
            font-size: 72px;
            color: var(--accent);
        }

    }

    .text {
        letter-spacing: -1.6px;
        margin-bottom: 1rem;
        font-size: 4.5rem;
        font-weight: 400;
        line-height: 4.5rem;
        color: var(--p);
    }

}

.no-scroll {
    overflow: hidden;
}

@media (max-width:809px) {
    .slide-out {

        .quimplo-logo {
            font-size: 42px;
            font-weight: 600;
            letter-spacing: -3px;

            color: var(--p);

            display: flex;
            align-items: center;
            gap: 0.67rem;

            svg {
                font-size: 72px;
            }
        }

        .text {
            font-size: 52px;
            font-weight: 600;
            letter-spacing: -3px;
            text-align: center;
        }

    }
}