#home-logos {
    max-width: 1250px;
    padding: 75px;
    margin: 5rem auto;

    border-radius: 3rem;
    background-color: var(--accent-2);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    span {
        margin-bottom: 1rem;

        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: .875rem;
        font-weight: 700;
        line-height: 1.225rem;

        color: var(--p-i);

        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    h1 {
        letter-spacing: -1.6px;
        font-size: 3rem;
        font-weight: 500;
        color: var(--p-i);

        margin-bottom: 3rem;
    }

    .icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 6rem;

        svg {
            color: var(--p-i);
            font-size: 54px;
            transition: .3s all cubic-bezier(0.455, 0.03, 0.515, 0.955);

            &:hover {
                transform: scale(1.10);
                cursor: pointer;
            }
        }


    }
}

@media (max-width:809px) {
    #home-logos {
        padding: 30px 15px;

        border-radius: 1.5rem;


        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        span {
            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: .875rem;
            font-weight: 700;
            line-height: 1.225rem;
            text-align: center;

            display: flex;
            align-items: center;
            gap: 0.5rem;

        }

        h1 {
            max-width: 100% !important;
            font-size: 2rem !important;
            font-weight: 500;
            line-height: 1.05;

            margin-bottom: 5rem;
            text-align: center;
        }

        .icons {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 5rem;

            svg {

                font-size: 54px;
                transition: .3s all cubic-bezier(0.455, 0.03, 0.515, 0.955);

                &:hover {
                    transform: scale(1.10);
                    cursor: pointer;
                }
            }


        }
    }
}