@import "../../index.scss";

#create {
    position: relative;
    width: 100%;
    height: 100vh;

    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .head-container {
        max-width: 1500px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        .head {
            height: 100vh;
            padding: 2rem;

            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;


            span {
                font-size: 10px;
                font-weight: 800;
                padding: .4rem 1.5rem;

                border: 1px solid var(--border);
                border-radius: 2rem;

                letter-spacing: 2px;
                text-transform: uppercase;

                margin-bottom: 1rem;
                color: var(--p);
            }

            h1 {
                font-size: 52px;
                font-weight: 600;

                letter-spacing: -2px;
                line-height: 1.2;

                text-decoration: none;
                margin-bottom: 1rem;

                color: var(--p);
            }

            p {
                font-size: 20px;
                font-weight: 500;
                letter-spacing: 0px;
                line-height: 1.5;
                color: var(--p);
                opacity: .8;
                text-wrap: pretty;

                margin-bottom: 3rem;
            }

            button {
                width: 150px;
                height: 45px;

                padding: 0 1.5rem;

                border-radius: 2rem;

                border: 2px solid var(--border);
                color: var(--p);

                font-size: 16px;
                font-weight: 700;

                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0rem;

                cursor: pointer;
                transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

                box-shadow: inset 0 0 0 0 var(--p);
                -webkit-transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s;
                -moz-transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s;
                transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s;

                &:hover {
                    box-shadow: inset -200px 0 0 0 var(--p);
                    color: var(--p-2);
                }
            }
        }

        .sub-head {
            height: 100vh;
            padding: 2rem;

            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;

            span {
                font-size: 10px;
                font-weight: 800;
                padding: .4rem 1.5rem;

                border: 1px solid var(--border);
                border-radius: 2rem;

                letter-spacing: 2px;
                text-transform: uppercase;

                margin-bottom: 1rem;

            }

            h1 {
                font-size: 52px;
                font-weight: 600;

                letter-spacing: -2px;
                line-height: 1.2;

                text-decoration: none;
                margin-bottom: 1rem;
            }

            p {
                max-width: 100%;

                font-size: 20px;
                font-weight: 500;
                letter-spacing: 0px;
                line-height: 1.5;
                color: var(--p);
                opacity: .8;
                text-wrap: pretty;

                margin-bottom: 3rem;
            }

            button {
                width: 200px;
                height: 45px;

                padding: 0 1.5rem;

                border-radius: 2rem;

                border: 2px solid var(--border);
                color: var(--p);

                font-size: 16px;
                font-weight: 700;

                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0rem;

                cursor: pointer;
                transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

                box-shadow: inset 0 0 0 0 var(--p);
                -webkit-transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s;
                -moz-transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s;
                transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s;

                &:hover {
                    box-shadow: inset 200px 0 0 0 var(--p);
                    color: var(--p-2);
                }
            }
        }
    }


    .step-content {
        position: fixed;
        width: 100vw;
        height: 100vh;

        background-color: var(--p-2);

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 999;

        .animate-render-step-wrapper {
            width: 100%;
            max-width: 650px;
        }

        h3 {
            font-size: 52px;
            text-align: start;
            letter-spacing: -2px;
            color: var(--p);
        }

        p {
            font-size: 18px;
            opacity: .8;
            color: var(--p);
            margin-bottom: 3rem;
        }

        .close-button {
            position: absolute;
            top: 35px;
            left: 30px;
            background: none;
            border: none;
            font-size: 1.5rem;
            cursor: pointer;
            color: var(--p);

            svg {
                transition: all .1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                border-radius: 100%;

                &:hover {
                    color: var(--p-2);
                    background-color: var(--bg-4);
                }
            }
        }

        .step-buttons {
            display: flex;
            justify-content: space-between;
            gap: 1rem;

            button {
                width: fit-content;
                height: 50px;
                margin: 2rem 0;
                padding: 0 2rem;

                outline: none;
                border: none;

                background-color: var(--p);
                border: 1px solid var(--border);
                border-radius: 2rem;

                color: var(--p-2);
                font-size: 16px;
                font-weight: 700;

                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;

                cursor: pointer;
                transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

                &:disabled {
                    border: 1px solid var(--border);
                    background-color: var(--bg-3);
                    color: var(--p);
                    cursor: no-drop;
                }

                &:nth-child(1) {
                    border: 1px solid var(--border);
                    background-color: var(--bg-3);
                    color: var(--p);

                    &:hover {
                        background-color: var(--border-2);
                    }

                    &:disabled {
                        &:hover {
                            background-color: var(--bg-3);
                        }
                    }
                }
            }
        }

    }
}

.spinner {
    border: 4px solid var(--border);
    border-left: 4px solid var(--p);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

.modal-content {
    width: 100%;
    max-width: 600px;
    padding: 2rem;

    background-color: var(--bg-3);
    border-radius: 0.5rem;

    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

    h3 {
        font-size: 26px;
        font-weight: 800;
        letter-spacing: -1px;
        text-align: start;
        margin-bottom: .5rem;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        text-align: start;
        opacity: .6;
        margin-bottom: 1rem;
    }

}

.close-btn {
    position: relative;
    width: 100%;
    left: 25px;
    bottom: 25px;

    background: transparent;
    border: none;

    color: var(--p);
    font-size: 20px;

    display: flex;
    justify-content: end;
    cursor: pointer;

    svg {
        transition: all .1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        border-radius: 100%;

        &:hover {
            background-color: var(--bg-2);
        }
    }


}

.step-progress {
    position: relative;
    max-width: 650px;
    width: 100%;
    height: 10px;
    margin: 2rem 0;

    background-color: var(--bg);
    border-radius: 1rem;


    .progress-bar {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: var(--p);
        border-radius: 1rem;
    }
}


@media (max-width: 809px) {
    #create {

        padding: 15px;
        margin: 5rem 0 !important;

        .head-container {

            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 3rem;

            .head {
                height: 100%;
                padding: 1rem;
                border-radius: 1rem;

                h1 {
                    font-size: 42px;
                }

                p {
                    font-size: 16px;
                }

                button {
                    width: fit-content;

                }
            }

            .sub-head {
                height: 100% !important;
                padding: 1rem;

                h1 {
                    font-size: 42px;
                }

                p {
                    font-size: 16px;
                }

                button {
                    width: fit-content;

                }
            }
        }


        .step-content {
            position: fixed;
            top: 0;
            width: 100vw;
            height: 100vh;

            background: var(--bg-3);

            display: flex;
            align-items: start;
            justify-content: start;

            z-index: 999;

            .step-container {
                padding: 0;

                height: 100%;

                display: flex;
                align-items: start;
                justify-content: start;
                flex-direction: column;

                .animate-render-step-wrapper {
                    padding: 15px;
                    flex: 6 0 0;
                }
            }

            h3 {
                font-size: 52px;

            }

            p {
                font-size: 18px;
            }

            .close-button {

                top: 5px;
                left: 5px;

            }

            .step-buttons {
                display: flex;
                justify-content: space-between;
                gap: 1rem;

                button {
                    width: 100%;
                    height: 40px;
                }
            }

        }
    }

    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: rgba(0, 0, 0, 0.5);

        display: flex;
        justify-content: center;
        align-items: center;

        z-index: 1000;
    }

    .modal-content {
        width: 100%;
        max-width: 600px;
        padding: 2rem;

        background-color: var(--bg-3);
        border-radius: 0.5rem;

        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;

        h3 {
            font-size: 26px;
            font-weight: 800;
            letter-spacing: -1px;
            text-align: start;
            margin-bottom: .5rem;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            text-align: start;
            opacity: .6;
            margin-bottom: 1rem;
        }

    }

    .close-btn {
        position: relative;
        width: 100%;
        left: 25px;
        bottom: 25px;

        background: transparent;
        border: none;

        color: var(--p);
        font-size: 20px;

        display: flex;
        justify-content: end;
        cursor: pointer;

        svg {
            transition: all .1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            border-radius: 100%;

            &:hover {
                background-color: var(--bg-2);
            }
        }


    }

    .step-progress {
        position: relative;
        max-width: 650px;
        width: 100%;
        height: 10px;
        margin: 2rem 0;

        background-color: var(--bg);
        border-radius: 1rem;


        .progress-bar {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: var(--p);
            border-radius: 1rem;
        }
    }
}