@import "../../index.scss";

#publish-section {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .head-container,
    .head-container>div {
        max-width: 700px;
        width: 100%;

        margin: 4rem auto 1rem auto;

        text-align: start;

        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;


        span {
            margin-bottom: 1rem;

            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: .7rem;
            font-weight: 700;

            border-radius: 2rem;
            line-height: 1.2;

            color: var(--p) !important;
        }

        h1 {
            margin-bottom: 1rem;

            font-size: 2rem;
            font-weight: 500;

            letter-spacing: -.5px;
            line-height: 1;


            color: var(--p);
        }

        p {
            margin-bottom: 2rem;

            font-size: 1rem;
            font-weight: 300;

            letter-spacing: -.5px;
            line-height: 1.3;

            opacity: .7;
            color: var(--p);

        }

        button {
            width: fit-content;
            padding: .7rem 1.3rem;

            font-size: .8rem;
            font-weight: 500;

            border: 1px solid var(--border);
            background-color: var(--btn);
            border-radius: 2rem;

            color: var(--p-2);

            cursor: pointer;
            transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

            &:hover {
                border: 1px solid var(--border);
                background-color: var(--btn-2);
                color: var(--p);
            }
        }
    }

    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;

        .form-container {
            position: relative;

            width: 100vw;
            height: 100vh;

            background-color: var(--bg);

            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;

            .form-wrapper {
                position: relative;

                width: 100%;
                height: 100vh;

                overflow-y: scroll;

                display: flex;
                align-items: center;
                justify-content: start;
                flex-direction: column;

                z-index: 999;

                .header {
                    position: relative;

                    width: 100%;
                    top: 0;
                    left: 0;

                    padding: 1rem 5rem;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: var(--bg);

                    .logo {
                        display: flex;
                        align-items: center;

                        svg {
                            font-size: 42px;
                            color: var(--p);
                        }

                        span {
                            font-size: 1.3rem;
                            font-weight: 700;
                            letter-spacing: -.8px;
                        }
                    }

                    .close-button {

                        border-radius: 0.5rem;
                        border: none;
                        cursor: pointer;
                        color: var(--p);
                        z-index: 999;

                        svg {
                            font-size: 36px;
                            padding: .3rem;

                            background-color: var(--border);
                            border-radius: 2rem;

                            transition: all 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);

                            &:hover {
                                background-color: var(--border-2);
                            }
                        }
                    }
                }

                &::-webkit-scrollbar {
                    width: 12px;

                }

                &::-webkit-scrollbar-track {
                    background: var(--bg-2);

                }

                &::-webkit-scrollbar-thumb {
                    background-color: var(--p);

                    border: 1px solid var(--bg-2);
                }

                .left-content {
                    position: relative;
                    margin-top: 5rem;
                    max-width: 1000px;
                    width: 100%;
                    height: 300px;


                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;


                    .step-info {
                        position: relative;
                        width: 100%;

                        display: flex;
                        align-items: start;
                        justify-content: start;
                        flex-direction: column;

                        span {
                            margin-bottom: 1rem;

                            letter-spacing: 1px;
                            text-transform: uppercase;
                            font-size: .7rem;
                            font-weight: 700;

                            border-radius: 2rem;
                            line-height: 1.2;

                            color: var(--accent);
                        }

                        h1 {
                            margin-bottom: 1rem;

                            font-size: 2rem;
                            font-weight: 500;

                            letter-spacing: -.5px;
                            line-height: 1;


                            color: var(--p);
                        }

                        p {
                            margin-bottom: 1rem;

                            font-size: 1rem;
                            font-weight: 300;

                            letter-spacing: -.5px;
                            line-height: 1.3;

                            opacity: .7;
                            color: var(--p);

                        }

                        .other-p {
                            font-size: .9rem;
                            font-weight: 400;
                            opacity: 1 !important;
                            margin: 0;
                            text-align: start;
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;

                            .border {
                                width: 6px;
                                height: 6px;
                                border-radius: .1rem;
                                background-color: var(--p);
                            }
                        }
                    }
                }

                .right-content {
                    position: relative;
                    max-width: 1000px;
                    width: 100%;
                    height: 100%;

                    margin: 2rem 0 10rem 0;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    form {
                        position: relative;
                        width: 100%;
                        height: 100%;

                        .step-buttons {
                            position: fixed;
                            width: 100%;
                            height: fit-content;
                            left: 0;
                            bottom: -1px;
                            padding: 1rem 5rem;
                            background-color: var(--bg);
                            border-top: 2px solid var(--border);
                            display: flex;
                            justify-content: space-between;
                            gap: 1rem;


                            button {
                                width: 150px;
                                height: 40px;
                                outline: none;
                                border: none;
                                background-color: var(--accent);
                                border: 1px solid var(--border);
                                border-radius: 2rem;
                                color: var(--fixed-c);
                                font-size: 16px;
                                font-weight: 600;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 1rem;
                                cursor: pointer;
                                transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

                                &:disabled {
                                    border: 1px solid var(--border);
                                    background-color: var(--bg-3);
                                    color: var(--p);
                                    cursor: no-drop;
                                }

                                &:hover {
                                    color: var(--fixed-c);
                                    background-color: var(--accent-3);
                                }

                                &:nth-child(1) {
                                    border: 1px solid var(--border);
                                    background-color: var(--bg-2);
                                    color: var(--p);

                                    &:hover {
                                        background-color: var(--border-2);
                                    }

                                    &:disabled {
                                        &:hover {
                                            background-color: transparent;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }


            }

            .error-message {
                position: relative;
                height: 20px;
                pointer-events: none;
                margin: 0.5rem 0;


                p {
                    font-size: .8rem;
                    font-weight: 500;
                    text-align: start;
                    color: rgb(255, 56, 56);

                    display: flex;
                    align-items: center;
                    gap: .5rem;

                    svg {
                        font-size: .8rem;
                    }
                }

                .pricing-p {
                    color: var(--p) !important;
                }


            }
        }
    }
}

.step-progress {
    position: fixed;
    width: 100%;
    height: 6px;
    left: 0;
    bottom: 73px;

    background-color: var(--bg-2);
    z-index: 999;

    .progress-bar {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        border-radius: 2rem;
        background-color: var(--accent);
    }
}

body.no-scroll {
    overflow: hidden;
}

@media (max-width:992px) {
    #publish-section {
        padding: 25px;

        .modal-overlay {
            .form-container {
                .form-wrapper {
                    padding: 20px;

                    .header {
                        padding: 0;

                        .logo {
                            display: flex;
                            align-items: center;

                            svg {
                                font-size: 32px;

                            }

                            span {
                                font-size: 1.2rem;
                            }
                        }


                    }

                    &::-webkit-scrollbar {
                        width: 8px;
                    }

                    .left-content {
                        height: fit-content;

                        .step-info {

                            h1 {
                                font-size: 2rem;
                            }

                            p {
                                font-size: 1rem;
                            }


                        }
                    }

                    .right-content {
                        margin: 2rem 0 25rem 0;

                        form {
                            position: relative;
                            width: 100%;
                            height: 100%;

                            .step-buttons {
                                padding: 1rem;
                            }
                        }
                    }


                }

                .error-message {
                    position: relative;
                    height: 20px;
                    pointer-events: none;
                    margin: 0.5rem 0;


                    p {
                        font-size: .9rem;
                        font-weight: 500;
                        text-align: start;
                        color: rgb(255, 56, 56);

                        display: flex;
                        align-items: center;
                        gap: .5rem;
                    }

                    .pricing-p {
                        color: var(--p) !important;
                    }


                }
            }
        }
    }
}

@media (max-width:992px) {
    #publish-section {
        position: relative;
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .head-container,
        .head-container>div {
            max-width: 700px;
            width: 100%;

            margin: 4rem auto 1rem auto;

            text-align: start;

            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;


            span {
                margin-bottom: 1rem;

                letter-spacing: 1px;
                text-transform: uppercase;
                font-size: .7rem;
                font-weight: 700;

                border-radius: 2rem;
                line-height: 1.225rem;

                color: var(--accent);
            }

            h1 {
                margin-bottom: 2rem;

                font-size: 2.5rem;
                font-weight: 500;

                letter-spacing: -.9px;
                line-height: 1;

                color: var(--p);
            }

            p {
                margin-bottom: 2rem;

                font-size: 1.1rem;
                font-weight: 400;

                letter-spacing: -.6px;
                line-height: 1.3;

                opacity: .7;
                color: var(--p);

            }

        }
    }
}