#home-sites {
    position: relative;
    padding: 1rem;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .site-container {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

            img {
                width: 100%;
                height: auto;
                border: 1px solid var(--border);
                border-radius: 1rem;
                transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }

            /*             img:nth-child(even) {
                transform: translateY(25px);
            } */

            .view {
                position: absolute;
                width: 50px;
                height: 50px;
                top: 15px;
                left: 15px;
                border-radius: 100%;
                background-color: var(--fixed-c);
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;
                transition: all .3s cubic-bezier(1, 0, 0, 1);
                z-index: 999;

                svg {
                    font-size: 24px;
                    color: var(--p-i);
                }
            }

            &:hover {
                img {
                    filter: brightness(95%);
                }

                .view {
                    opacity: 1;
                }

                transform: scale(1.01);
            }
        }
    }
}


.swiper-sites {
    width: 100%;
}

@media (max-width: 1400px) {
    #home-sites {
        .slider-container {
            .slider {
                .site-slide {
                    width: 400px;

                    .site-container img {
                        width: 400px;
                    }
                }
            }
        }
    }
}