#home-sites {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;

    .slider-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        .slider {
            display: flex;
            animation: scroll 75s linear infinite;
            width: max-content;

            .site-slide {
                flex: 0 0 auto;
                width: 450px;
                height: 260px;
                margin-right: 2.5rem;
                position: relative;
                transform: translateY(var(--staggered-y));
            }

            &:hover {
                animation-play-state: paused;
            }

            .site-slide:nth-child(odd) {
                --staggered-y: -20px;
            }

            .site-slide:nth-child(even) {
                --staggered-y: 20px;
            }

            .site-container {
                position: relative;

                display: flex;
                align-items: center;
                justify-content: center;

                transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

                img {
                    width: 450px;
                    height: 275px;

                    border: .1rem solid var(--border);
                    border-radius: 1rem;

                    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                }

                .featured {
                    position: absolute;
                    width: fit-content;
                    height: 25px;
                    top: 15px;
                    left: 15px;
                    padding: .5rem;

                    background: var(--accent);
                    border-radius: .8rem;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

                    p {
                        font-size: 14px;
                        font-weight: 700;
                        color: var(--fixed-c);
                    }
                }

                &::before {
                    opacity: 0;
                    content: 'VER';
                    position: absolute;
                    width: 125px;
                    height: 125px;

                    background-color: #ffffffef;
                    backdrop-filter: blur(20px);
                    border-radius: 100%;

                    color: var(--p-i);
                    font-size: 12px;
                    font-weight: 700;
                    letter-spacing: 2px;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 999;

                    transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                }

                &:hover::before {
                    opacity: 1;
                }

                &:hover {
                    img {
                        filter: brightness(90%) blur(3px);
                    }

                    transform: scale(1.01);

                }
            }
        }
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }
}

@media (max-width: 1400px) {
    #home-sites {
        .slider-container {
            .slider {
                .site-slide {
                    width: 400px;

                    .site-container img {
                        width: 400px;
                    }
                }
            }
        }
    }
}

@media (max-width: 809px) {
    #home-sites {
        .slider-container {
            .slider {
                .site-slide {
                    width: 300px;

                    .site-container img {
                        width: 300px;
                    }
                }
            }
        }
    }
}