#home-sites {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .slider-container {
        width: 100%;
        height: 100%;
        overflow: hidden;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .slider {
            display: flex;
            width: 200%;
            height: 275px;
            margin: 1rem 0;
            white-space: nowrap;

            .site-slide {
                flex: 0 0 auto;
                width: 500px;
                margin-right: 1rem;

                .site-container {
                    position: relative;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

                    img {
                        width: 500px;
                        height: 275px;
                        border-radius: 1rem;
                        border: 1px solid var(--border);
                        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    }

                    .featured {
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        top: 10px;
                        left: 10px;

                        background: #3f3f3f;
                        border-radius: 100%;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        opacity: 0;
                        transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

                        svg {
                            font-size: 24px;
                            color: #fffb00;
                        }
                    }

                    &::before {
                        opacity: 0;
                        content: 'VIEW';
                        position: absolute;
                        width: 125px;
                        height: 125px;

                        background-color: #ffffffef;
                        backdrop-filter: blur(20px);
                        border-radius: 100%;

                        color: var(--p-i);
                        font-size: 12px;
                        font-weight: 900;
                        letter-spacing: 2px;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        z-index: 999;

                        transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                    }

                    &:hover::before {
                        opacity: 1;
                    }

                    &:hover {
                        img {
                            filter: brightness(90%) blur(3px);
                        }

                        transform: scale(1.01);

                        .featured {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 809px) {
    #home-sites {
        .slider-container {
            .slider {
                .site-slide {
                    flex: 0 0 auto;
                    width: 325px;
                    margin-right: 1rem;

                    .site-container {
                        img {
                            width: 325px;
                            height: 200px;
                        }
                    }
                }
            }
        }
    }
}