@import "../../index.scss";

footer {
    position: relative;
    width: 100%;
    bottom: 15px;
    left: 0;
    padding: 5px;

    background-color: var(--bg-nav);
    backdrop-filter: blur(5px);

    display: flex;
    align-items: center;
    justify-content: center;

    .footer-content {
        position: relative;
        max-width: 1000px;
        width: 100%;

        padding: 1rem;

        border-radius: 1rem;


        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        p {
            font-size: .8rem;
            margin: 0;
        }

        a {
            font-size: .8rem;
            text-decoration: underline;
            color: var(--p);
        }

        .footer-wrapper {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }
}