@import '../../../index.scss';

#home-what-is {
    position: relative;
    max-width: 1800px;

    margin: 0 auto !important;

    border-radius: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    h2,
    span {
        font-size: 52px;
        font-weight: 600;

        letter-spacing: -2px;
        line-height: 100%;

        text-decoration: none;
        margin-bottom: 1rem;
    }

    span {
        background: #959595;
        background: linear-gradient(to right, #959595 0%, #7e7e7e 54%, #4b4b4b 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        max-width: 75%;
        font-size: 26px;
        font-weight: 400;
        letter-spacing: 0px;
        line-height: 160%;
        color: var(--p);
        opacity: .8;
        margin-bottom: 3rem;
        text-align: center;
    }

}