 @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

 :root {
   --p: #333333;
   --p-2: #ffffff;

   --bg: #f8f8f8;
   --bg-2: #f0f0f0;
   --bg-3: #f3f3f3;
   --bg-4: #202020;

   --border: #e0e0e0;
   --border-2: #dadada;

   --p-i: #000;

   --btn: #111;
   --btn-2: #333;
   --btn-3: rgb(230, 230, 230);
   --accent: #1492f8;
   --fixed-c: #fff;
 }

 .dark {
   --p: #fefefe;
   --p-2: #222222;

   --bg: #1a1a1a;
   --bg-2: #252525;
   --bg-3: #141414;
   --bg-4: #f3f3f3;

   --border: #262626;
   --border-2: #3a3a3a;

   --btn: #242424;
   --btn-2: #404040;
   --btn-3: rgb(44, 44, 44);
 }

 * {
   font-family: "Manrope", sans-serif;

   list-style: none;
   text-decoration: none;

   padding: 0;
   margin: 0;
   font-size: 16px;
   box-sizing: border-box;

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   touch-action: manipulation;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -webkit-tap-highlight-color: transparent;
 }

 body {
   background-color: var(--bg);
   color: var(--p);

 }

 button {
   outline: none;
   background: transparent;
   border: none;
   cursor: pointer;
 }

 .loading-container {
   position: relative;
   width: 100%;
   height: 100%;

   bottom: 0;

   display: flex;
   align-items: center;
   justify-content: center;

   .loading {
     width: 24px;
     height: 24px;
     border-radius: 100%;

     border: 4px solid;

     border-color: var(--fixed-c);
     border-right-color: var(--btn);
     animation: spinner-d3wgkg 1s infinite linear;
   }

   button {
     width: 40px;
     height: 40px;

     outline: none;
     border: none;

     background-color: var(--btn);
     border: 1px solid var(--border);
     border-radius: 100%;
     color: var(--fixed-c);

     font-size: 14px;
     font-weight: 500;


     cursor: pointer;
     transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

     &:hover {
       background-color: var(--btn-2);
     }
   }
 }

 .loading-container.initial {
   width: 100%;
   height: 100vh;

   display: flex;
   align-items: center;
   justify-content: center;

   .loading.initial {
     width: 50px;
     height: 50px;

     border: 6px solid;

     border-color: var(--fixed-c);
     border-right-color: var(--btn);
     animation: spinner-d3wgkg 1s infinite linear;
   }
 }

 @keyframes spinner-d3wgkg {
   to {
     transform: rotate(1turn);
   }
 }

 ::selection {
   background-color: var(--p);
   color: var(--p-2);
 }

 ::-webkit-scrollbar {
   width: 5px;
   height: 1px;
   background-color: var(--border);
 }

 ::-webkit-scrollbar-thumb {
   background-color: var(--p);
   border-radius: 0.5rem;
 }

 .Toastify__toast-theme--light {
   color: var(--bg-2);
   font-weight: 600;

   .Toastify__close-button--light {
     color: var(--bg-2);

   }
 }

 .swiper {
   width: 100%;
   height: 100%;
 }

 .react-loading-skeleton {
   background-color: var(--border);

   &.react-loading-skeleton::after {
     background-image: linear-gradient(90deg, var(--border-2), var(--border-2), var(--border-2));
   }
 }