@import "../../index.scss";

header {
  position: absolute;
  width: 100%;
  top: 0;
  right: 10px;
  padding: 1rem 50px;


  background-color: var(--bg);
  border-bottom: 1px solid var(--border);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  z-index: 1000;

  .logo>a {
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -2px;
    color: var(--p);
    cursor: pointer;

    svg {
      font-size: 24px;
      color: var(--p);
    }
  }

  nav {
    position: relative;
    width: 100%;
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1.5rem;

    li {
      a {
        color: var(--p);
        font-size: 12px;
        font-weight: 900;
        line-height: 48px;
        text-transform: uppercase;
        letter-spacing: 1px;

        opacity: 0.5;
        text-align: center;
        cursor: pointer;
        transition: opacity 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

        &:hover,
        &.active {
          opacity: 1;
        }
      }
    }
  }
}


.bm-burger-button {
  position: relative;
  width: 25px;
  height: 15px;
}

.bm-burger-bars {
  background: var(--p);

  &:nth-child(2) {
    display: none;
  }
}

.bm-cross-button,
.bm-cross {
  display: none;
}

.bm-menu-wrap {
  position: fixed;
  height: 100vh !important;
  top: 0;
}

/* General sidebar styles */
.bm-menu {
  background: var(--bg-3);
  font-size: 16px;
  border: 1px solid var(--border);
}

.bm-item-list {
  width: 100%;

  padding: 0.5rem;

  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.bm-item {
  position: relative;
  width: 100%;
  color: var(--p);
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 400;

  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

}

.bm-overlay {
  width: 100vw;
  height: 100vh;
  inset: 0;
  background-color: var(--bg);
}

.nav-text {
  display: flex;
  align-items: center;
  gap: 3rem;

  border-radius: 2rem;

  a {
    width: 100%;
    height: fit-content;

    padding: 1rem 1.3rem;

    outline: none;
    border: none;

    color: var(--p);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    opacity: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

    &:hover {
      svg {
        transform: translateX(8px);
      }
    }

    svg {
      font-size: 24px;
      transition: all 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
  }

}

.nav-button {
  display: flex;
  align-items: center;

  background-color: var(--p);
  border: 1px solid var(--border);
  border-radius: 2rem;

  a {
    width: 100%;
    height: fit-content;

    padding: .8rem 1.3rem;

    outline: none;
    border: none;

    color: var(--p-2);
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 1px;

    opacity: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);


  }

  &:hover {
    background-color: var(--p-2);

    a {
      color: var(--p);
    }
  }
}

.menu-text {
  position: relative;
  width: 100%;
  text-align: center;

  span {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;

  }

  .border-bottom {
    background-color: var(--border);
    margin: 1rem 0;
    width: 100%;
    height: 1px;
  }
}

.menu-text-end {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;

  span {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;

  }

  .border-bottom {
    background-color: var(--border);
    margin: 1rem 0;
    width: 100%;
    height: 1px;
  }
}

kbd {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: var(--p);
  font-size: 100%;
  font-family: monospace, sans-serif;
  vertical-align: baseline;
  background: transparent;
  border-color: var(--border);
  border-style: solid;
  border-width: 1px 3px 4px;
  padding: 0 5px;
  background-color: var(--bg);
  background-color: var(--bg-3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

@media (max-width:809px) {
  header {
    padding: 25px;
  }

  kbd {
    display: none;
  }
}