@import "../../index.scss";

header {
  position: absolute;
  width: 100%;
  height: 10vh;

  top: 0;
  padding: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  z-index: 999;

  .logo>a {
    position: relative;
    font-family: "Rubik", sans-serif;
    width: 100%;

    font-size: 26px;
    letter-spacing: -1px;

    color: var(--p);

    display: flex;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;

    svg {
      font-size: 28px;
    }
  }

  .desktop-menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    li {
      .feature-nav {
        width: 200px;
        height: 50px;

        padding: 0 1.5rem;

        border-radius: 2rem;

        border: 2px solid var(--border);
        color: var(--p);

        font-size: 16px;
        font-weight: 700;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0rem;

        cursor: pointer;
        transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

        box-shadow: inset 0 0 0 0 var(--p);
        -webkit-transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s;
        -moz-transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s;
        transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s;

        &:hover,
        &.active {
          box-shadow: inset 0 -150px 0 0 var(--p);
          color: var(--p-2);
        }
      }

      .explore-nav {
        padding: .5rem 1.1rem;

        border-radius: 2rem;
        color: var(--p);

        font-size: 16px;
        font-weight: 600;

        cursor: pointer;
        transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

        &:hover,
        &.active {
          backdrop-filter: blur(25px);
          background-color: #42424217;
        }
      }
    }
  }

  nav {
    position: relative;
    width: 100%;
    max-width: 1500px;

    padding: 1rem 1.2rem;
    list-style: none;
    left: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

  }
}

.search-input {
  width: 100%;
  height: 50px;

  border: 1px solid var(--border);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: end;
  transition: width 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  button {
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background-color: transparent;

    color: var(--p);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 0.5rem;
    font-size: 16px;
    font-weight: 600;
    color: var(--p);
    transition: width 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    padding-left: 0;
    padding-right: 0;
  }
}


@media (max-width:809px) {
  header {

    padding: 15px;
    gap: 0;

    .logo>a {
      margin-left: 0rem;
    }

    nav {
      left: 0;

    }
  }

  ul.desktop-menu {
    display: none;
  }
}