@import "../../index.scss";

header {
  position: fixed;
  width: 100%;
  top: 15px;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 999;

  a.logo {
    display: flex;
    align-items: center;

    svg {
      font-size: 42px;
      color: var(--p);
    }

  }

  .left-border {
    width: 1px;
    height: 35px;

    border-radius: 1rem;
    background-color: var(--border-2);
  }

  .desktop-menu {
    display: flex;
    align-items: center;
    gap: .5rem;

    li {
      .feature-nav {
        width: fit-content;
        margin-right: .3rem;
        padding: .5rem 1rem;

        font-size: .8rem;
        font-weight: 500;

        border: 1px solid var(--p);
        background-color: var(--btn);
        border-radius: 1rem;

        color: var(--p-2);

        cursor: pointer;
        transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

        &:hover,
        &.active {
          border: 1px solid var(--border);
          background-color: var(--btn-2);
          color: var(--p);
        }

        svg {
          font-size: 18px;
        }
      }

      .explore-nav {
        padding: .5rem 1rem;

        color: var(--p);

        font-size: .8rem;
        font-weight: 500;

        border: 1px solid transparent;
        border-radius: 1rem;

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
        transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

        &:hover,
        &.active {
          &::before {
            opacity: 1;
          }
        }

        &::before {
          content: "";
          position: absolute;
          width: 8px;
          height: 4px;

          bottom: 12px;
          border-radius: 1rem;

          background-color: var(--p);

          transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
          opacity: 0;
        }
      }
    }
  }

  .mobile-menu-wrapper {
    width: fit-content;
    display: none;
    align-items: center;
    gap: 1rem;

    .mobile-menu {
      display: none;
      align-items: end;
      justify-content: center;
      flex-direction: column;
      gap: .1rem;
      width: fit-content;
      height: fit-content;
      transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      cursor: pointer;
      z-index: 998;

      .hm-bar {
        width: 30px;
        height: 3px;
        background-color: var(--p);
        margin: 2px 0;
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transform-origin: center;

        &.active:nth-child(1) {
          transform: rotate(45deg) translate(1px, 1px);
        }

        &.active:nth-child(2) {
          transform: rotate(-45deg) translate(5px, -5px);
        }

        &.active:nth-child(3) {
          opacity: 0;
        }
      }
    }
  }

  .mobile-menu-content {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 75vh;

    padding: 5rem 3rem 0 2rem;

    background-color: var(--bg-2);
    border: 1px solid var(--border);

    display: none;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 2rem;

    z-index: 997;

    li {
      width: 100%;

      .sub-options-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      a {
        color: var(--p);

        font-size: 1rem;
        font-weight: 500;

        letter-spacing: -.4px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        svg {
          font-size: 1rem;
          color: var(--accent);
        }
      }

      .feature-nav {
        width: 100%;
        margin-right: .3rem;
        padding: .5rem 1rem;

        font-size: .8rem;
        font-weight: 500;

        border: 1px solid var(--p);
        background-color: var(--btn);
        border-radius: 1rem;

        color: var(--p-2);

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
        transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
    }
  }

  nav {
    position: relative;
    max-width: 1000px;
    width: 100%;
    padding: .5rem 25px;


    border: 1px solid var(--border);
    border-radius: 1rem;
    background-color: var(--bg-nav);
    backdrop-filter: blur(10px);

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}


@media (max-width: 992px) {
  header {
    padding: 0;
    gap: 0;

    .logo>a {
      margin-left: 0;
    }

    nav {
      left: 0;
      padding: .5rem 1rem;
    }

    .mobile-menu-wrapper {
      display: flex;

      .mobile-menu {
        display: flex;
      }
    }

    .mobile-menu-content {
      display: flex;
    }

    .desktop-menu {
      display: none;
    }
  }
}