@import '../../../index.scss';

#site-more-category {
    position: relative;
    max-width: 1000px;
    width: 100%;
    height: fit-content;

    padding: 25px;

    margin: 5rem auto auto auto;

    background-color: var(--bg);

    .sub-header-text {
        width: 100%;
        height: 100%;

        margin-bottom: 2rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        h2,
        strong {
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: -.5px;

            color: var(--p);
            text-align: start;
        }

        strong {
            text-transform: uppercase;
        }

        a {
            color: var(--p);

            font-size: 1rem;
            font-weight: 500;
            letter-spacing: -.5px;

            display: flex;
            align-items: center;
            gap: .5rem;

        }
    }

    .related-sites {
        position: relative;
        max-width: 1000px;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;

        a {
            position: relative;

            width: 100%;
            height: fit-content;
            padding: 0 0 1rem 0;

            overflow: hidden;

            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;
            transition: all .13s cubic-bezier(0.455, 0.03, 0.515, 0.955);

            img {
                width: 100%;
                height: 100%;

                border-radius: .5rem;
                border: 1px solid var(--border);

                transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                margin-bottom: 1rem;

                z-index: 998;

            }


            .text-card {
                transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                z-index: 999;

                span {
                    position: absolute;
                    top: 15px;
                    left: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5rem;
                    margin: 0;

                    svg {
                        width: 40px;
                        height: 40px;
                        border-radius: 100%;
                        color: #ffffff;
                        padding: 0.3rem;
                    }
                }

                .title-text {
                    position: relative;
                    width: 100%;

                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                }

                h1 {
                    text-transform: uppercase;
                    font-size: 1rem;
                    font-weight: 600;
                    color: var(--p);
                }

                p {
                    font-size: .8rem;
                    font-weight: 400;
                    opacity: .8;
                    color: var(--p);
                }

                span {
                    font-size: 14px;
                    font-weight: 600;
                    margin-bottom: 1rem;
                    color: var(--p);
                }
            }

            &:hover {
                img {
                    filter: brightness(95%);
                }

                transform: scale(1.01);
            }
        }
    }
}

@media (max-width:768px) {#site-more-category {
    .related-sites {

        a {


            .text-card {

                span {
                    top: 10px;
                    left: 10px;
        
                    svg {
                        width: 30px;
                        height: 30px;
        
                    }
                }
        
                h1 {
                    font-size: .9rem;
                }
            }

        }
    }
}

}