@import '../../../index.scss';

#site-more-category {
    position: relative;
    width: 100%;
    height: fit-content;

    margin: 8rem auto;
    max-width: 1400px;
    padding: 0 100px !important;

    background-color: var(--bg);


    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

    .sub-header-text {
        width: 100%;
        height: 100%;

        margin-bottom: 2rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        h2,
        strong {
            font-size: 42px;
            font-weight: 600;
            letter-spacing: -2px;

            color: var(--p);
            text-align: start;
        }

        strong {
            text-transform: uppercase;
        }

        a {
            color: var(--p);

            font-size: 22px;
            font-weight: 500;
            letter-spacing: -1px;

            display: flex;
            align-items: center;
            gap: .5rem;

        }
    }

    .related-sites {
        position: relative;
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;

        a {
            width: 350px;
            height: 400px;

            margin-bottom: 3rem;

            display: flex;
            align-items: start;
            flex-direction: column;

            transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

            img {
                width: 100%;
                height: 250px;
                border-radius: 0.5rem;
                border: 1px solid var(--border);
                margin-bottom: 1rem;
            }

            .several-content {
                width: fit-content;

                margin-bottom: 1rem;

                display: flex;
                align-items: center;
                gap: 1rem;

                p {
                    font-size: 14px;
                    font-weight: 900 !important;
                    color: var(--p);
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    margin: 0;
                }

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        width: 20px;
                        height: 20px;
                        border-radius: 100%;
                        color: var(--fixed-c);
                        padding: 0.3rem;
                    }
                }

            }

            h1 {
                font-size: 32px;
                font-weight: 500;
                line-height: 1.2;
                letter-spacing: -1px;

                color: var(--p);

                margin-bottom: 1rem;
            }

            p {
                width: 100%;
                font-size: 16px;
                font-weight: 500;
                color: var(--p);
                word-wrap: break-word !important;
                margin-bottom: 1rem;
            }

            &:hover {
                transform: scale(1.02);
            }
        }
    }
}